# The URL is embedded in the APK when it is built. This is already the MapNet default.
# Use this untracked file only if you need to test another release channel.
update.manifest.url=https://github.com/Vigil-Ante/MapNet/releases/latest/download/mapnet-update.json
